
<div class="container">
  <div [hidden]="submitted">
    <h1>Currency Form</h1>
    <form (ngSubmit)="onSubmit()" #currencyForm="ngForm">
      <div class="form-group">
        <label for="number">Number</label>
        <input (keypress)="numberOnly($event)" type="text" class="form-control" id="number"
               required
               [(ngModel)]="model.number" name="number"
               #number="ngModel">
        <div [hidden]="number.valid || number.pristine"
             class="alert alert-danger">
          Number is required
        </div>
      </div>
 
      
 
      <button type="submit" class="btn btn-success" [disabled]="!currencyForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newForm(); currencyForm.reset()">New Currency</button>
    </form>
  </div>
 
  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">{{model.number}}</div>
      <div class="col-xs-9  pull-left">{{ model.currency }}</div>
    </div>
    
    <br>
    <button class="btn btn-primary" (click)="submitted=false;model.number = 0">Edit</button>
  </div>
</div>

